<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krist | home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link rel="stylesheet" href="/css/StyleHomePage.css">
</head>
<body>
<div class="container-fluid g-0">
    <div class="header">
        <div style="display: flex;">
            <div style="flex: 1;">
                <div class="d-flex align-items-center">
                    <img style="height: 36px; margin-right: 8px;" src="/img/logo.png" alt="logo">
                    <p class="title d-inline p-0 m-0">Krist</p>
                </div>
            </div>
            <div style="flex: 2;">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav" style="width: 100%; justify-content: space-between;">
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Trang chủ</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link cl-black s-18 dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Danh mục
                                        </a>
                                        <ul class="dropdown-menu" style="width: 800px; left: -240px; top: 55px;"
                                            aria-labelledby="navbarDropdown">
                                            <div class="d-flex">
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Về chúng tôi</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Hoạt động</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Liên hệ</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div style="flex: 1;">
                <div class="header_right d-flex align-items-center justify-content-end" style="height: 100%;">
                    <div>
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-regular s-18 fa-magnifying-glass"></i></a>
                    </div>
                    <div style="margin: 0px 46px;">
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-sharp s-18 fa-regular fa-heart"></i></a>
                    </div>
                    <div class="me-4">
                        <a class="cl-black" href="./profileOrder.html"><i class="fa-regular s-18 fa-cart-minus"></i></a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-12" style="padding-top: 30px">
            <div class="d-flex align-items-center" style="padding-left: 500px">
                <form class="d-flex me-2">
                    <input class="form-control me-2" type="search" placeholder="😶‍🌫️Tên sản phẩm" aria-label="Search">
                </form>
                <button type="button" class="btn btn-danger me-2">Tìm Kiếm</button>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target=".multi-collapse" aria-expanded="false"
                        aria-controls="multiCollapseExample1">Lọc nâng cao</button>
            </div>
                <div class="row " style="padding-top: 20px">
                    <div class="col-3">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card ">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Kiểu dáng</option>
                                    <option value="1">Cổ tròn</option>
                                    <option value="2">Cổ trái tim</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card ">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Giá</option>
                                    <option value="1">100K - 300K</option>
                                    <option value="2">300K - 500K</option>
                                    <option value="3">> 500K</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card ">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Size</option>
                                    <option value="1">S</option>
                                    <option value="2">M</option>
                                    <option value="3">L</option>
                                    <option value="3">XL</option>
                                    <option value="3">XXL</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="card ">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Màu</option>
                                    <option value="1">Đỏ</option>
                                    <option value="2">Đen</option>
                                    <option value="3">Trắng</option>
                                    <option value="3">Nâu</option>
                                    <option value="3">Hồng</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup2" aria-controls="navbarNavAltMarkup2"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup2">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Shop ></a>
                            <a class="nav-link" href="#">Sản pẩm </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="container-fluid">
                <div class="row mt-5">
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="cart">
                            <div class="text-center" style="height: 300px; background-color: #F3F3F3;">
                                <img src="/img/monochrome_tees.png" alt="Product Image">
                            </div>
                            <button class="wishlist-btn">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <button class="btn-add__cart">
                                thêm vào gỏ hàng
                            </button>
                            <div class="cart-content">
                                <div class="category-name">Áo phông trơn</div>
                                <div class="product-name">Áo phông cộc tay</div>
                                <div class="price">500,000₫</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding-left: 1000px">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    <div class="col-1"></div>
    </div>
    </div>

    <!-- footer -->
    <div class="container-fluid d-flex align-items-center justify-content-evenly"
         style="padding: 40px 0 120px 0; margin-top: 80px; background-color: #000;">
        <div style="width: 272px; margin-right: 142px;">
            <div class="d-flex align-items-center" style="margin-bottom: 12px;">
                <div style="padding: 8px 14px; margin-right: 8px; border-radius: 5px; border: 1px solid #E6E7E8; background-color: #fff;">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <div>
                    <div class="cl-white" style="font-size: 20px; font-weight: 600;">Krist</div>
                </div>
            </div>
            <p class="cl-white " style="font-size: 14px; margin-bottom: 28px;">Connect with us on social networking</p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-instagram cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-facebook cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-youtube cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-tiktok cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-twitter cl-white " style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div style="width: 484px; margin-right: 100px;">
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">SUPPORT</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">FAQ</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Terms of
                    use</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Privacy
                    Policy</a></p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">COMPANY</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">About
                    us</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Contact</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Careers</a>
                </p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">SHOP</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">My
                    Account</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Checkout</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Cart</a>
                </p>

            </div>
        </div>
        <div style="width: 272px;">
            <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 22px;">ACCEPTED PAYMENTS</p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-cc-mastercard cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-visa cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-amex cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-paypal cl-white" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Alert thông báo thất bại -->
<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert"
     id="alertMessage" style="display: none;">
    <strong>Thất bại!</strong> <span id="alertBody">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Alert thông báo từ backend -->
<div th:if="${message}" th:class="${messageType} + ' alert alert-dismissible fade show position-fixed top-0 end-0 m-3'"
     id="successAlert" role="alert">
    <strong th:text="${titleMsg}">Tiêu đề</strong> <span th:text="${message}">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    (function () {
        'use strict';

        //thông báo
        function showAlert(type, message) {
            let alertElement;

            if (type === 'success') {
                alertElement = document.getElementById('successAlert');
                alertElement.querySelector('span').textContent = message; // Thiết lập nội dung thông báo thành công
                alertElement.style.display = 'block'; // Hiển thị thông báo thành công
            } else if (type === 'error') {
                alertElement = document.getElementById('alertMessage');
                alertElement.querySelector('#alertBody').textContent = message; // Thiết lập nội dung thông báo lỗi
                alertElement.style.display = 'block'; // Hiển thị thông báo lỗi
            }

            // Tự động ẩn thông báo sau 5 giây
            setTimeout(() => {
                if (alertElement) {
                    var bootstrapAlert = new bootstrap.Alert(alertElement);
                    bootstrapAlert.close();
                }
            }, 5000);
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Kiểm tra và ẩn thông báo thành công nếu có
            var successAlert = document.getElementById('successAlert');
            if (successAlert && successAlert.style.display !== 'none') {
                setTimeout(function () {
                    var bootstrapAlert = new bootstrap.Alert(successAlert);
                    bootstrapAlert.close();
                }, 5000);
            }
        });

    })();
</script>
</body>
</html>