<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krist | home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link rel="stylesheet" href="/css/StyleHomePage.css">
    <style>
        .step {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #f1f1f1;
            color: #6c757d;
            font-size: 1.5rem;
        }

        .step.active {
            background-color: #000; /* Màu tối cho bước đang hoạt động */
            color: #fff;
        }

        .line {
            flex-grow: 1;
            height: 2px;
            border-top: 2px dashed #ddd;
            position: relative;
            top: 50%;
            transform: translateY(-50%); /* Căn giữa theo trục dọc */
            border-top: 2px dashed #ddd; /* Đường nét đứt */
        }

        .line-active {
            border-top: 2px dashed #1a1a1a; /* Màu đậm cho đường nét đứt đầu tiên */
        }

    </style>
</head>
<body>
<div class="main">
    <!-- Notification Bar -->
    <!-- Header -->
    <div class="header">
        <div style="display: flex;">
            <div style="flex: 1;">
                <div class="d-flex align-items-center">
                    <img style="height: 36px; margin-right: 8px;" src="/uploadImage/logo.png" alt="logo">
                    <p class="title d-inline p-0 m-0">Krist</p>
                </div>
            </div>
            <div style="flex: 2;">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav" style="width: 100%; justify-content: space-between;">
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Trang chủ</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link cl-black s-18 dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Danh mục
                                        </a>
                                        <ul class="dropdown-menu" style="width: 800px; left: -240px; top: 55px;"
                                            aria-labelledby="navbarDropdown">
                                            <div class="d-flex">
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Danh mục</p>
                                                    <hr>
                                                    <div class="p-2 hover-effect" th:each="item : ${listDanhMuc}">
                                                        <a th:if="${listDanhMuc.size() > 0}" href="#" style="text-decoration: none ; color : black"><span  th:text="${item.getTenDanhMuc()}"></span></a>
                                                    </div>
                                                    <h5 th:unless="${listDanhMuc.size() > 0}" style="color: gray;">Hiện tại không có danh mục nào</h5>

                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Cổ áo</p>
                                                    <hr>
                                                    <div class="p-2 hover-effect" th:each="item : ${listCoAo}">
                                                        <a th:if="${listCoAo.size() > 0}" href="#" style="text-decoration: none ; color : black"><span  th:text="${item.getKieuCoAo()}"></span></a>
                                                    </div>
                                                    <h5 th:unless="${listCoAo.size() > 0}" style="color: gray;">Hiện tại không có cổ áo nào</h5>
                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Tay áo</p>
                                                    <hr>
                                                    <div th:if="${listTayAo.size() > 0}" class="p-2 hover-effect" th:each="item : ${listTayAo}">
                                                        <a href="#" style="text-decoration: none ; color : black"><span  th:text="${item.getKieuTayAo()}"></span></a>
                                                    </div>
                                                    <h5 th:unless="${listTayAo.size() > 0}" style="color: gray;">Hiện tại không có tay áo nào</h5>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Về chúng tôi</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Hoạt động</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Liên hệ</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div style="flex: 1;">
                <div class="header_right d-flex align-items-center justify-content-end" style="height: 100%;">
                    <div>
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-regular s-18 fa-magnifying-glass"></i></a>
                    </div>
                    <div style="margin: 0px 46px;">
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-sharp s-18 fa-regular fa-heart"></i></a>
                    </div>
                    <div class="me-4">
                        <a class="cl-black" href="./profileOrder.html"><i class="fa-regular s-18 fa-cart-minus"></i></a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center" style="padding: 8px; ">
        <div class="container" style="padding: 0;">

            <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                <h2 class="breadcrumb-item ">Phương thức thanh toán </h2>
            </ol>

        </div>
    </div>


    <!-- content -->
    <div class="container-fluid">
        <div class="container" style="padding: 54px 0px; margin-bottom: 120px;">
            <div class="row">
                <div class="col-7">

                    <div class="container">
                        <div class="d-flex align-items-center">
                            <div class="step active">
                                <i class="fa-light fa-house"></i>
                            </div>
                            <div class="line line-active"></div>
                            <div class="step active">
                                <i class="fa-light fa-credit-card"></i>
                            </div>
                            <div class="line"></div>
                            <div class="step">
                                <i class="fa-light fa-file-lines"></i>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="text-center">Địa Chỉ</div>
                            <div class="text-center">Phương Thức Thanh Toán</div>
                            <div class="text-center">Xác nhận</div>
                        </div>
                    </div>
                    <!--                    -->
                    <div class="mt-4">
                        <h5>Chọn phương thức thanh toán</h5>
                    </div>
                    <div class="mt-4">

                        <form id="formDatHang" method="POST" action="/user/chon-thanh-toan">
                            <div class="mt-4">
                                <div class="form-check"
                                     style="padding: 0.75rem 0; border-top: 1px solid #f1f1f1; margin-left: 1.5rem;">
                                    <input class="form-check-input" type="radio" name="paymentMethod" value="online" id="paypal"
                                           checked>
                                    <label class="form-check-label" for="paypal" style="font-weight: 600; color: #000;">
                                        Thanh toán online (VN Pay)
                                    </label>
                                </div>
                                <div class="form-check"
                                     style="padding: 0.75rem 0; border-top: 1px solid #f1f1f1; margin-left: 1.5rem;">
                                    <input class="form-check-input" type="radio" value="offline" name="paymentMethod"
                                           id="cashOnDelivery">
                                    <label class="form-check-label" for="cashOnDelivery"
                                           style="font-weight: 600; color: #000;">
                                        Thanh toán khi nhận hàng
                                    </label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button class="btn btn-deliver" type="submit"
                                   style="background-color: #1a1a1a; color: #fff; width: 250px; padding: 10px 0; ">Tiếp
                                    tục</button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-5">
                    <div style="border: 1px solid #E6E7E8; border-radius: 4px; padding: 38px 18px;">

                        <div class="d-flex justify-content-between" style="margin-bottom: 18px;">
                            <div style="font-size: 16px; font-weight: 500; ">Tổng cộng:</div>
                            <div style="font-size: 16px; font-weight: 500;"><span id="grand-total"
                                                                                  th:text="${convertMoney.formatCurrency(totalPrice)}">0.00</span>
                            </div>
                        </div>
                        <hr style="color: #5b5c64; border-width: 1px; margin-bottom: 18px;">

                        <!-- Nút mở modal danh sách khuyến mại -->
                        <div style="max-height: 300px; overflow-y: hidden;">
                            <!-- Thẻ chứa khuyến mại -->
                            <div th:each="khuyenMai, iterStat : ${listKM}" style="width: 100%">
                                <div class="d-flex"
                                     style="border: 1px dashed #000; border-radius: 8px; padding: 6px; margin-bottom: 10px; width: 100%">
                                    <div style="border-right: 1px dashed #000; flex: 1; padding: 18px 0;">
                                        <i class="fa-solid fa-tickets-perforated"
                                           style="font-size: 36px; padding: 0px 12px;"></i>
                                    </div>
                                    <div style="flex: 3; padding: 4px; font-size: 14px;">
                                        <div th:text="'Khuyến mại: ' + ${khuyenMai.tenKhuyenMai}">Khuyến mại</div>
                                        <div th:text="'Giá trị: ' + ${convertMoney.formatCurrency(khuyenMai.giaTri)} +' '
                                         +  ${khuyenMai.kieuKhuyenMai? '%':'VND'} ">Giá trị - Số lượng
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div th:text="'Ngày hết hạn: ' + ${#dates.format(khuyenMai.ngayKetThuc, 'dd-MM-yyyy')}">
                                                Ngày hết hạn
                                            </div>
                                            <a class="btn btn-dark btn-sm" th:if="${khuyenMaiSelected == null || khuyenMaiSelected.id != khuyenMai.id}"
                                               th:href="@{/user/add-khuyen-mai(idKhuyenMai=${khuyenMai.id})}"
                                            >Áp dụng</a>
                                            <a class="btn btn-dark btn-sm" th:if="${khuyenMaiSelected != null && khuyenMaiSelected.id == khuyenMai.id}"
                                               th:href="@{/user/huy-khuyen-mai(idKhuyenMai=${khuyenMai.id})}"
                                            >Hủy</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Thêm các khuyến mại khác tương tự -->
                        </div>
                        <div th:if="${khuyenMaiSelected != null}" class="d-flex justify-content-between"
                             style="margin-bottom: 18px;">
                            <div style="font-size: 16px; font-weight: 500; color: #5C5F6A;">Tên khuyến mại:</div>
                            <div style="font-size: 16px; font-weight: 500;"><span
                                    th:text="${khuyenMaiSelected.tenKhuyenMai}"></span>
                            </div>
                        </div>

                        <div th:if="${khuyenMaiSelected != null}" class="d-flex justify-content-between"
                             style="margin-bottom: 18px;">
                            <div style="font-size: 16px; font-weight: 500; color: #5C5F6A;">Mức giảm:</div>
                            <div style="font-size: 16px; font-weight: 500;"><span
                                    th:text="${convertMoney.formatCurrency(khuyenMaiSelected.giaTri)} + ' ' + ${khuyenMaiSelected.kieuKhuyenMai? '%':'VND'}"></span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between" style="margin-bottom: 18px;">
                            <div style="font-size: 16px; font-weight: 500; color: #5C5F6A;">Phí giao hàng:</div>
                            <div style="font-size: 16px; font-weight: 500;"><span id="shipping-fee" th:text="${convertMoney.formatCurrency(phiVanChuyen)}">30.000</span>
                            </div>
                        </div>
                        <hr style="color: #E6E7E8; border-width: 3px; margin-bottom: 18px;">
                        <div class="d-flex justify-content-between">
                            <div style="font-size: 16px; font-weight: bold;">Tổng thanh toán:</div>
                            <div style="font-size: 16px; font-weight: bold;"><span id="final-total"
                                th:text="${convertMoney.calculatorTotal(totalPrice, khuyenMaiSelected, phiVanChuyen)}">0.00</span>
                            </div>
                        </div>
                    </div>

                    <!--                    danh sách sản phẩm đã chọn-->
                    <div>
                        <div class="container-fluid">
                            <div class="container" style="padding: 54px 0px; margin-bottom: 120px;">
                                <h5>Danh sách sản phẩm</h5>
                                <div class="row">
                                    <div class="col-12">
                                        <!-- Danh sách sản phẩm -->
                                        <div class="product-list">
                                            <div class="product-item d-flex align-items-start"
                                                 th:each="item : ${listSpSelected}"
                                                 style="border: 1px solid #e6e7e8; border-radius: 8px; padding: 16px; margin-bottom: 16px;">
                                                <!-- Hình ảnh sản phẩm -->
                                                <div style="flex: 1; max-width: 80px;">
                                                    <div style="width: 80px; height: 80px; border-radius: 8px; background-color: #f6f6f6;">
                                                        <div th:style="|width: 100%; height: 100%; background: url('/uploadImage/${item.chiTietSanPham.anhSanPham}') no-repeat center center / cover;|">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Thông tin sản phẩm -->
                                                <div style="flex: 3; margin-left: 16px;">
                                                    <!-- Tên sản phẩm -->
                                                    <p style="font-size: 16px; font-weight: 500;"
                                                       th:text="${item.getChiTietSanPham().sanPham.tenSanPham}"></p>
                                                    <!-- Màu sắc và kích thước -->
                                                    <div class="d-flex align-items-center" style="margin-top: 8px;">
                                                        <span style="margin-right: 8px;">Color:</span>
                                                        <div th:style="'width: 20px; height: 20px; border-radius: 50%; background-color: ' + ${item.getChiTietSanPham().mau.maMauSac}"></div>
                                                        <span style="margin-left: 16px;">Size:
                                                            <span th:text="${item.getChiTietSanPham().size.tenSize}"></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <!-- Giá và số lượng -->
                                                <div style="flex: 2; margin-left: auto; text-align: right;">
                                                    <!-- Giá -->
                                                    <p style="font-size: 16px; font-weight: 500; margin-bottom: 8px;">
                                                        Giá: <span
                                                            th:text="${convertMoney.formatCurrency(item.getChiTietSanPham().donGia)}"></span>
                                                    </p>
                                                    <!-- Số lượng -->
                                                    <p style="font-size: 16px;">
                                                        Số lượng: <span th:text="${item.soLuong}"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid d-flex align-items-center justify-content-evenly"
         style="padding: 40px 0 120px 0; margin-top: 80px; background-color: #000;">
        <div style="width: 200px; margin-right: 142px;">
            <div class="d-flex align-items-center" style="margin-bottom: 12px;">
                <div style="padding: 8px 14px; margin-right: 8px; border-radius: 5px; border: 1px solid #E6E7E8; background-color: #fff;">
                    <img src="/uploadImage/logo.png" alt="logo">
                </div>
                <div>
                    <div class="cl-white" style="font-size: 20px; font-weight: 600;">Krist</div>
                </div>
            </div>
            <p class="cl-white " style="font-size: 14px; margin-bottom: 28px;">Kết nối với chung tôi trên mạng xã hội. </p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-instagram cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-facebook cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-youtube cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-tiktok cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-twitter cl-white " style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div style="width: 600px; margin-right: 100px;">
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">HỖ TRỢ </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Hỏi đáp</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Điều khoản sử dụng
                </a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Chính sách bảo mật
                </a></p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">CÔNG TY</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Về chúng tôi
                </a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Tuyển dụng</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Công việc</a>
                </p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;"> CỬA HÀNG </p>
                <p><a href="/user/ca-nhan" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Tài khoản
                </a></p>
                <p><a href="/dang-ki" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Đăng kí</a>
                </p>
                <p><a href="/gio-hang" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Giỏ hàng</a>
                </p>

            </div>
        </div>
        <div style="width: 272px;">
            <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 22px;">THANH TOÁN ĐƯỢC CHẤP NHẬN</p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-cc-mastercard cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-visa cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-amex cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-paypal cl-white" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function updateQuantity(productDetailId, action) {
        $.ajax({
            url: '/ecommerce/' + action,
            type: 'POST',
            data: {productDetailId: productDetailId},
            success: function (response) {
                let quantityElement = $('#quantity-' + productDetailId);
                let currentQuantity = parseInt(quantityElement.text());
                if (action === 'increase') {
                    quantityElement.text(currentQuantity + 1);
                } else if (action === 'decrease' && currentQuantity > 1) {
                    quantityElement.text(currentQuantity - 1);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<script>
    const btn_checkout = document.getElementById("btn_checkout");
    const form_checkout = document.getElementById("form_checkout");

    btn_checkout.addEventListener("click", () => {
        form_checkout.submit();
    })
</script>
</body>
</html>