<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krist | home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link rel="stylesheet" href="/css/StyleHomePage.css">
</head>
<body>
<div class="main">
    <!-- Notification Bar -->
    <!-- Header -->
    <div class="header">
        <div style="display: flex;">
            <div style="flex: 1;">
                <div class="d-flex align-items-center">
                    <img style="height: 36px; margin-right: 8px;" src="/img/logo.png" alt="logo">
                    <p class="title d-inline p-0 m-0">Krist</p>
                </div>
            </div>
            <div style="flex: 2;">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav" style="width: 100%; justify-content: space-between;">
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Trang chủ</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link cl-black s-18 dropdown-toggle" href="#" id="navbarDropdown"
                                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Danh mục
                                        </a>
                                        <ul class="dropdown-menu" style="width: 800px; left: -240px; top: 55px;"
                                            aria-labelledby="navbarDropdown">
                                            <div class="d-flex">
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1; border-right: 1px solid #000;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                                <div class="text-center" style="flex: 1;">
                                                    <p class="font-blod">Men</p>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                    <div class="p-2">hoanganh</div>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Về chúng tôi</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Hoạt động</a>
                                    </li>
                                </div>
                                <div>
                                    <li class="nav-item">
                                        <a class="nav-link cl-black s-18" href="#">Liên hệ</a>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div style="flex: 1;">
                <div class="header_right d-flex align-items-center justify-content-end" style="height: 100%;">
                    <div>
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-regular s-18 fa-magnifying-glass"></i></a>
                    </div>
                    <div style="margin: 0px 46px;">
                        <a class="cl-black" href="#" data-bs-toggle="modal" data-bs-target="#modal_cart"><i
                                class="fa-sharp s-18 fa-regular fa-heart"></i></a>
                    </div>
                    <div class="me-4">
                        <a class="cl-black" href="./profileOrder.html"><i class="fa-regular s-18 fa-cart-minus"></i></a>
                    </div>
                    <div>
                        <button type="button" class="btn btn-dark">Đăng nhập</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center" style="padding: 8px; ">
        <div class="container" style="padding: 0;">

            <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                <h2 class="breadcrumb-item ">My Profile </h2>
            </ol>

        </div>
    </div>


    <!-- content -->
    <div class="container-fluid">
        <div class="container" style="padding: 54px 0px; margin-bottom: 120px;">
            <div class="row">
                <div class="col-3">
                    <div style="border: 1px solid #E6E7E8; border-radius: 4px; ">

                        <div class="d-flex align-items-center" style="padding: 10px 18px;">
                            <!-- Hình ảnh người dùng -->
                            <div class="text-center"
                                 style="width: 80px; height: 80px; background-color: #F6F6F6; border-radius: 50%; overflow: hidden;">
                                <img style="width: 100%;" src="/img/monochrome_tees.png" alt="">
                            </div>
                            <!-- Tên và tiểu sử người dùng -->
                            <div style="margin-left: 12px;">
                                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                                    <p style="font-size: 14px; margin: 0;">Hello 😘</p>
                                    <p style="font-size: 20px; font-weight: 700; margin: 0;">Đoàn Hiếu</p>
                                </div>
                            </div>
                        </div>

                        <hr style="color: #5b5c64; border-width: 1px; ">
                        <div class="d-flex flex-column">
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-user" style="margin-right: 10px;"></i> Personal Information
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-box-taped" style="margin-right: 10px;"></i> My Orders
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-heart" style="margin-right: 10px;"></i> My Wishlists
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-location-dot" style="margin-right: 10px;"></i> Manage
                                    Addresses
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-floppy-disk" style="margin-right: 10px;"></i> Seved Cards
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-bell" style="margin-right: 10px;"></i> Notifications
                                </a>
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn btn-block"
                                 style="background-color: #ffffff; width: 100%;">
                                <a href="" class="d-flex align-items-center"
                                   style="color: #070707; padding: 10px; text-decoration: none; width: 100%;">
                                    <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Settings
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <div class="btn btn-block" style="background-color: #070707; width: 100%;">
                                <a href=""
                                   style="color: #ffffff; padding: 10px; text-decoration: none; width: 100%; display: block; text-align: center;"
                                   data-bs-toggle="modal" data-bs-target="#modalCategories"
                                   onclick="saveIdOrder('', null)">
                                    <i class="fa-light fa-plus" style="margin-right: 15px;"></i> Thêm địa chỉ mới
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--         CẦN SỬA TẠI ĐÂY KIÊN NHÉ-->
                    <div th:each="diaChi : ${diaChiList}" style="padding-top: 30px;">
                        <div style="border: 1px solid #E6E7E8; border-radius: 4px; padding: 15px; margin-bottom: 20px;">
                            <!--              <p style="font-size: 20px; font-weight: 700;" th:text="${diaChi.tenKhachHang}">Tên khách hàng</p>-->
                            <p style="font-size: 16px;" th:text="${diaChi.diaChi}">Địa chỉ chi tiết</p>
                            <p>
                                <i class="fa-light fa-phone-volume"></i>
                                <span th:text="${diaChi.sdt}">Số điện thoại</span>
                            </p>
                            <div style="display: flex; justify-content: space-between;">
                                <!-- Nút chỉnh sửa và xóa -->
                                <div>
                                    <a class="btn"
                                       style="background-color: #F6F6F6; border-radius: 6px; padding: 10px 15px; text-decoration: none;"
                                       data-bs-toggle="modal"
                                       data-bs-target="#editDiaChiModal"
                                       th:attr="onclick=|saveIdDiaChi('${diaChi.id}', '${diaChi.sdt}', '${diaChi.diaChi}')|">
                                        <i class="fa-regular fa-pen-to-square" style="font-size: 16px; color: #000;"></i> Edit
                                    </a>
                                    <a th:href="@{/user-dia-chi/delete-dia-chi/{id}(id=${diaChi.id})}" class="btn"
                                       style="background-color: #FFF6F6; border-radius: 6px; padding: 10px 15px; text-decoration: none;">
                                        <i class="fa-regular fa-trash-can" style="font-size: 16px; color: #f40606;"></i>
                                        Delete
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Phân trang -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-end">
                            <!-- Nút Previous -->
                            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
                                <a class="page-link" style="color: #5C5F6A"
                                   th:href="@{/user-dia-chi/pagination-dia-chi(pageNo=0)}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- Vòng lặp phân trang -->
                            <li th:each="i : ${#numbers.sequence(1, totalPage)}"
                                th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                                class="page-item">
                                <a class="page-link"
                                   th:href="@{/user-dia-chi/pagination-dia-chi(pageNo=${i - 1})}"
                                   th:text="${i}" style="color: #5C5F6A"></a>
                            </li>
                            <!-- Nút Next -->
                            <li class="page-item"
                                th:classappend="${currentPage == totalPage - 1 ? 'disabled' : ''}">
                                <a class="page-link" style="color: #5C5F6A"
                                   th:href="@{/user-dia-chi/pagination-dia-chi(pageNo=${totalPage - 1})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="container-fluid d-flex align-items-center justify-content-evenly"
         style="padding: 40px 0 120px 0; margin-top: 80px; background-color: #000;">
        <div style="width: 272px; margin-right: 142px;">
            <div class="d-flex align-items-center" style="margin-bottom: 12px;">
                <div style="padding: 8px 14px; margin-right: 8px; border-radius: 5px; border: 1px solid #E6E7E8; background-color: #fff;">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <div>
                    <div class="cl-white" style="font-size: 20px; font-weight: 600;">Krist</div>
                </div>
            </div>
            <p class="cl-white " style="font-size: 14px; margin-bottom: 28px;">Connect with us on social networking</p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-instagram cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-facebook cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-youtube cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-tiktok cl-white " style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-twitter cl-white " style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
        <div style="width: 484px; margin-right: 100px;">
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">SUPPORT</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">FAQ</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Terms of
                    use</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Privacy
                    Policy</a></p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">COMPANY</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">About
                    us</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Contact</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Careers</a>
                </p>

            </div>
            <div style=" margin-right: 72px; display: inline-block;">
                <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 40px;">SHOP</p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">My
                    Account</a></p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Checkout</a>
                </p>
                <p><a href="#" class="cl-white"
                      style="text-decoration: none; font-size: 14px; font-weight: 500; margin-bottom: 16px;">Cart</a>
                </p>

            </div>
        </div>
        <div style="width: 272px;">
            <p class="cl-white" style="font-size: 14px; font-weight: 500; margin-bottom: 22px;">ACCEPTED PAYMENTS</p>
            <div class="d-flex justify-content-between" style="padding-right: 60px;">
                <div>
                    <i class="fa-brands fa-cc-mastercard cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-visa cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-amex cl-white" style="font-size: 20px;"></i>
                </div>
                <div>
                    <i class="fa-brands fa-cc-paypal cl-white" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<!-- Modal for Adding Address -->
<div class="modal fade" id="modalCategories" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 400px;">
        <div class="modal-content" style="margin-top: 100px;">
            <!-- Modal Header -->
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel" style="font-weight: 700">Thêm địa chỉ mới</h6>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" style="padding:30px;">
                <form th:action="@{/user-dia-chi/add-dia-chi}" method="post">
                    <!--          <div class="mb-3">-->
                    <!--            <label for="tenKhachHang" class="form-label">Tên khách hàng</label>-->
                    <!--            <input type="text" class="form-control" id="tenKhachHang" name="tenKhachHang" required>-->
                    <!--          </div>-->
                    <div class="mb-3">
                        <label for="diaChi" class="form-label">Địa chỉ chi tiết</label>
                        <input type="text" class="form-control" id="diaChi" name="diaChi" required>
                    </div>
                    <div class="mb-3">
                        <label for="sdt" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="sdt" name="sdt" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm địa chỉ</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal cập nhật địa chỉ -->
<div class="modal fade" id="editDiaChiModal" tabindex="-1" aria-labelledby="editDiaChiModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="margin-top: 100px;">
            <div class="modal-header">
                <h5 class="modal-title" id="editDiaChiModalLabel">Cập nhật địa chỉ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="padding:30px;">
                <form  th:action="@{/user-dia-chi/update-dia-chi}"  method="post"  novalidate th:object="${diaChiCre}" class="needs-validation">
                    <div class="display_none">
                        <input type="text" class="form-control" id="idDiaChi" name="id" value="" th:field="*{id}">
                    </div>
                    <div class="mb-4">
                        <label for="editSdt" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="editSdt" placeholder="Nhập số điện thoại" name="sdt" th:field="*{sdt}" required>
                        <div class="invalid-feedback">Số điện thoại không hợp lệ .</div>
                    </div>
                    <div class="mb-4">
                        <label for="editDiaChi" class="form-label">Đia chỉ</label>
                        <input type="text" class="form-control" name="diaChi" id="editDiaChi" placeholder="Nhập địa chỉ" th:field="*{diaChi}" required >
                        <div class="invalid-feedback">Mô tả không hợp lệ không hợp lệ .</div>
                    </div>
                    <div class="mb-4 display_none" id="statusSection">
                        <label class="form-label">Status</label><br>
                        <input type="radio" th:field="*{trangThai}" id="active" th:value="${T(com.example.kristp.enums.Status).ACTIVE}">
                        <label for="active">Active</label><br>
                        <input type="radio" th:field="*{trangThai}" id="inactive" th:value="${T(com.example.kristp.enums.Status).INACTIVE}">
                        <label for="inactive">Inactive</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-secondary">Cập nhật</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // Khi mở modal cập nhật, điền dữ liệu vào form
    function saveIdDiaChi(id, sdt, diaChi) {
        // Gán giá trị vào modal
        $('#editDiaChiId').val(id);
        $('#editSdt').val(sdt);
        $('#editDiaChi').val(diaChi);
    }
</script>



</body>
</html>