<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Quản lý đơn hàng </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link rel="stylesheet" href="/css/StyleHomePage.css">
    <link rel="stylesheet" href="/css/ProductDetail.css">
    <link rel="stylesheet" href="/css/ban-hang.css">
    <link rel="stylesheet" href="/css/DonHang.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Ẩn thanh cuộn của body */
        }
        .main {
            height: 100%;
            display: flex;
        }
        .col-10 {
            height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
            overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao */
            padding: 12px 32px 48px;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body class="overflow-hidden">
<div class="main" >
    <div class="container-fluid g-0">
        <div class="row g-0">
            <!--            sider bar-->
            <div class="col-2" style="height: 100vh;">
                <div style="height: 72px; margin-bottom: 42px;"
                     class="d-flex align-items-center justify-content-center">
                    <div>
                        <img style="width: 78%" src="/img/logo.png" alt="logo">
                    </div>
                    <div style="font-size: 20px; font-weight: 800; margin-left: 12px;">
                        Krist
                    </div>
                </div>
                <!-- Main Menu Items -->
                <div style="padding: 0px 22px 28px; border-bottom: 1px solid #E9E9EB;" class="mb-4">
                    <!--                    Hiện tại vẫn chưa có tính năng doanh thu đường dẫn là #-->
                    <a href="#" class=" mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;"
                       onclick="highlightLink(this)">
                        <i class="fa-light fa-objects-column" style="margin-right: 10px;"></i>Doanh thu
                    </a>
                    <a href="#" class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
                        <i class="fa-light fa-cart-shopping" style="margin-right: 10px;"></i> Bán hàng
                    </a>
                    <!-- Product Management Tree Menu -->
                    <div class="menu-item mb-3">
                        <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
                           onclick="toggleSubmenu('productSubMenu')">
                            <i class="fa-regular fa-box-archive" style="margin-right: 10px;"></i> Sản phẩm
                            <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                        </p>
                        <ul id="productSubMenu" class="submenu"
                            style="list-style: none; padding-left: 20px; display: none;">
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-danh-muc/pagination-danh-muc"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Danh
                                    mục</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-chat-lieu/pagination-chat-lieu"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chất liệu</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-mau-sac/pagination-mau-sac"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Màu sắc</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-size/pagination-size"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Size</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-tay-ao/pagination-tay-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Tay
                                    áo</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-co-ao/pagination-co-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Cổ
                                    áo</a>
                            </li>
                        </ul>
                    </div>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <div class="menu-item mb-3">
                        <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
                           onclick="toggleSubmenu('orderSubMenu')">
                            <i class="fa-light fa-cart-shopping" style="margin-right: 10px;" ></i> Đơn hàng
                            <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                        </p>
                        <ul id="orderSubMenu" class="submenu"
                            style="list-style: none; padding-left: 20px; display: none;">
                            <li style="padding: 8px 12px;">
                                <a href="#" class="bg_profile_btn"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chờ xác nhận</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="#"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chờ xác nhận</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="#"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Đang xử lý</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="#"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Đang giao hàng</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="#"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Hoàn thành</a>
                            </li>
                        </ul>
                    </div>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="/quan-ly-khach-hang/pagination-khach-hang" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-user-group" style="margin-right: 10px;"></i> Khách hàng
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->

                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-star" style="margin-right: 10px;"></i> Đánh giá
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Cài đặt
                    </a>
                </div>
                <!-- Extra Menu -->
                <div id="drop_right" style="padding: 0px 22px 28px; cursor: pointer;"
                     onclick="toggleSubmenu('extrasSubMenu')">
                    <p class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center;">
                        <!--                        tính năng chưa được xác định hiện tại để trống-->
                        <i class="fa-regular fa-plus" style="margin-right: 10px;"></i> Bổ sung
                        <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                    </p>
                    <ul id="extrasSubMenu" class="submenu" style="list-style: none; padding-left: 20px; display: none;">
                        <li style="padding: 8px;"><a href="./adminSize.html"
                                                     style="text-decoration: none; color: #000;">Size</a></li>
                        <li style="padding: 8px;"><a href="./adminColor.html"
                                                     style="text-decoration: none; color: #000;">Color</a></li>
                    </ul>
                </div>
            </div>
            <!--            end sider bar-->
            <div class="col-10">
                <!-- navigator_link -->
                <div class="d-flex justify-content-between align-items-center" style="height: 72px; margin-bottom: 18px;">
                    <div>
                        <nav style="--bs-breadcrumb-divider: '>'; line-height: 40px;" aria-label="breadcrumb" >
                            <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                                <li class="breadcrumb-item "><a href="#" class="nav_link">Admin</a></li>
                                <li class="breadcrumb-item "><a href="#" class="nav_link_active">Dashboard</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div>
                        <a href="../login.html" style="text-decoration: none; color: #000; font-size: 20px;"><i class="fa-thin fa-arrow-right-from-bracket"></i></a>
                    </div>
                </div>
<!--                content-->
                <div class="box">
<!--                    tìm kiếm đơn hàng-->
                    <div class="order-filter-box">
                        <form th:action="@{/quan-ly-don-hang/tim-kiem-don-hang}" method="get">
                            <div class="filter-container">
                                <div class="filter-item">
                                    <label for="id">Mã đơn hàng</label>
                                    <input type="number" id="id" name="id" placeholder="Nhập mã đơn hàng">
                                </div>
                                <div class="filter-item">
                                    <label for="ngayBatDau">Ngày Bắt Đầu:</label>
                                    <input type="datetime-local" id="ngayBatDau" name="ngayBatDau">
                                </div>
                                <div class="filter-item">
                                    <label for="ngayKetThuc">Ngày Kết Thúc:</label>
                                    <input type="datetime-local" id="ngayKetThuc" name="ngayKetThuc">
                                </div>
                            </div>
                            <div class="filter-item">
                                <button class="filter-button" type="submit">Lọc</button>
                            </div>
                        </form>
                    </div>

                    <div class="order-status-box">
                        <div style="font-size: 18px; font-weight: 700">Trạng thái đơn hàng</div>
                        <div class="status-options">
                            <form action="/quan-ly-don-hang/view-don-hang" method="get">
                                <!-- Tất cả -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trangThai" id="status1" value="on"
                                           th:checked="${currentTrangThai == 'on'}" onchange="this.form.submit()">
                                    <label class="form-check-label status-label" for="status1">
                                        Tất cả
                                        <span class="status-count" id="totalCount"></span>
                                    </label>
                                </div>
                                <!-- Chờ xác nhận -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trangThai" id="status2" value="0" onchange="this.form.submit()">
                                    <label class="form-check-label status-label" for="status2">
                                        Chờ xác nhận
                                        <span class="status-count"id="CHO_XAC_NHAN"></span>
                                    </label>
                                </div>
                                <!-- Đang xử lý -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trangThai" id="status3" value="1" onchange="this.form.submit()">
                                    <label class="form-check-label status-label" for="status3">
                                        Đang xử lý
                                        <span class="status-count" id="DANG_XU_LY"></span>
                                    </label>
                                </div>
                                <!-- Đang giao hàng -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trangThai" id="status4" value="2" onchange="this.form.submit()">
                                    <label class="form-check-label status-label" for="status4">
                                        Đang giao hàng
                                        <span class="status-count" id="DANG_GIAO_HANG"></span>
                                    </label>
                                </div>
                                <!-- Hoàn thành -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="trangThai" id="status5" value="3" onchange="this.form.submit()">
                                    <label class="form-check-label status-label" for="status5">
                                        Hoàn thành
                                        <span class="status-count" id="HOAN_TAT"></span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>


                    <div class="mt-3">
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Mã đơn hàng</th>
                                <th scope="col">Ngày đặt hàng</th>
                                <th scope="col">Hình thức thanh toán</th>
                                <th scope="col">Trạng thái thanh toán</th>
                                <th scope="col">Tổng tiền</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col" class="text-center">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="hoaDon, stat : ${hoaDons}">
                                <td th:text="${stat.index + 1}"></td>
                                <td th:text="${hoaDon.id}"></td>
                                <td th:text="${hoaDon.ngayDatHang}"></td>
                                <td th:text="${hoaDon.hinhThucThanhToan}"></td>
                                <td th:text="${hoaDon.trangThaiThanhToan}"></td>
                                <td th:text="${hoaDon.tongTien}"></td>
                                <td th:text="${hoaDon.trangThai}"></td>
                                <td class="text-center">
                                    <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">
                                        <a  class="d-block" style="color: #000; text-decoration: none" href="/view-chi-tiet-don-hang">
                                            <i class="fa-sharp fa-light fa-eye"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td>Jacob</td>-->
<!--                                <td>Thornton</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td class="text-center">-->
<!--                                    <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">-->
<!--                                        <div >-->
<!--                                            <i class="fa-sharp fa-light fa-eye"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td>Jacob</td>-->
<!--                                <td>Thornton</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td class="text-center">-->
<!--                                    <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">-->
<!--                                        <div >-->
<!--                                            <i class="fa-sharp fa-light fa-eye"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">4</th>-->
<!--                                <td>Jacob</td>-->
<!--                                <td>Thornton</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td class="text-center">-->
<!--                                    <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">-->
<!--                                        <div >-->
<!--                                            <i class="fa-sharp fa-light fa-eye"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">5</th>-->
<!--                                <td>Jacob</td>-->
<!--                                <td>Thornton</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td class="text-center">-->
<!--                                    <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">-->
<!--                                        <div >-->
<!--                                            <i class="fa-sharp fa-light fa-eye"></i>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </td>-->
<!--                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Alert thông báo thất bại -->
<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert" id="alertMessage" style="display: none;">
    <strong>Thất bại!</strong> <span id="alertBody">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Alert thông báo từ backend -->
<div th:if="${message}" th:class="${messageType} + ' alert alert-dismissible fade show position-fixed top-0 end-0 m-3'" id="successAlert" role="alert">
    <strong th:text="${titleMsg}">Tiêu đề</strong> <span th:text="${message}">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    // Function to toggle submenu visibility
    function toggleSubmenu(submenuId) {
        const submenu = document.getElementById(submenuId);
        if (submenu.style.display === "none" || submenu.style.display === "") {
            submenu.style.display = "block";
        } else {
            submenu.style.display = "none";
        }
    }
</script>

<script>

    const idCustomer = document.getElementById("idCustomer");
    const valueName = document.querySelectorAll(".valueName");
    const valueDes = document.querySelectorAll(".valueDes");
    // Lấy về thuộc tính có id và điều chỉnh theo mong muốn trong hàm saveIdOrder
    const nameCate = document.getElementById('nameCate');
    const desCate = document.getElementById('desCate');
    const statusSection = document.getElementById('statusSection');

    function saveIdOrder(id , index , hanhDong){
        idCustomer.value = id;
        if(index != null) {
            nameCate.value = valueName[index].textContent.trim();
            desCate.value = valueDes[index].textContent.trim();
            statusSection.classList.remove('display_none');
            document.getElementById('exampleModalLabel').innerText = 'Update material';
            // Kiểm tra class của icon
            if (hanhDong == "ACTIVE") {
                // Nếu class là 'fa-check', chọn radio button active
                document.getElementById('active').checked = true;
            } else {
                // Ngược lại nếu class là 'fa-x', chọn radio button inactive
                document.getElementById('inactive').checked = true;
            }
            document.getElementById("form_submit").action = '/quan-ly-size/update-size' ;
        } else {
            statusSection.classList.add('display_none');
            document.getElementById('exampleModalLabel').innerText = 'Add material';
            nameCate.value = "";
            desCate.value = "";
            document.getElementById("form_submit").action = '/quan-ly-size/add-size' ;
        }
    }

    (function () {
        'use strict';
        // Fetch all forms with class 'needs-validation'
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over forms and prevent submission if validation fails
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    showAlert( "error", "Đã có lỗi xảy ra. Vui lòng kiểm tra lại.");
                }
                form.classList.add('was-validated');
            }, false);

            // Add 'change' event listener for all inputs to validate them dynamically
            var inputs = form.querySelectorAll('input');
            Array.prototype.slice.call(inputs).forEach(function (input) {
                input.addEventListener('change', function () {
                    if (input.checkValidity()) {
                        input.classList.remove('is-invalid');
                        input.classList.add('is-valid');
                    } else {
                        input.classList.remove('is-valid');
                        input.classList.add('is-invalid');
                        showAlert("error","Dữ liệu không hợp lệ trong " + input.placeholder);
                    }
                });
            });
        });

        //thông báo
        function showAlert(type, message) {
            let alertElement;

            if (type === 'success') {
                alertElement = document.getElementById('successAlert');
                alertElement.querySelector('span').textContent = message; // Thiết lập nội dung thông báo thành công
                alertElement.style.display = 'block'; // Hiển thị thông báo thành công
            } else if (type === 'error') {
                alertElement = document.getElementById('alertMessage');
                alertElement.querySelector('#alertBody').textContent = message; // Thiết lập nội dung thông báo lỗi
                alertElement.style.display = 'block'; // Hiển thị thông báo lỗi
            }

            // Tự động ẩn thông báo sau 5 giây
            setTimeout(() => {
                if (alertElement) {
                    var bootstrapAlert = new bootstrap.Alert(alertElement);
                    bootstrapAlert.close();
                }
            }, 5000);
        }

        document.addEventListener('DOMContentLoaded', function (){
            // Kiểm tra và ẩn thông báo thành công nếu có
            var successAlert = document.getElementById('successAlert');
            if (successAlert && successAlert.style.display !== 'none') {
                setTimeout(function () {
                    var bootstrapAlert = new bootstrap.Alert(successAlert);
                    bootstrapAlert.close();
                }, 5000);
            }
        });

    })();
    function toggleSubmenu(id) {
        const submenu = document.getElementById(id);
        // Toggle between 'none' and 'block' to show/hide submenu
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    }

    function highlightLink(link){
        //     Remove the 'bg_profile_btn' class from all links
        const links = document.querySelectorAll('.bg_profile_btn');
        links.forEach(link => {
            link.classList.remove('bg_profile_btn');
        })
        link.classList.add('bg_profile_btn');
    }
// đây là hàm để đếm số lượng trạng thái
    // Lấy dữ liệu JSON từ model và lưu vào biến countData
    var countData = /*[[${countJson}]]*/ 'null';  // Chuyển giá trị countJson từ controller vào JavaScript

    if (countData !== 'null') {
        // In dữ liệu JSON để kiểm tra
        console.log("Raw JSON Data: ", countData);

        // Chuyển chuỗi JSON thành đối tượng JavaScript
        var countByTrangThai = JSON.parse(countData);

        // Tính tổng số trạng thái và gán vào 'Tất cả'
        var totalCount = 0;
        for (var key in countByTrangThai) {
            if (countByTrangThai.hasOwnProperty(key)) {
                totalCount += countByTrangThai[key];
            }
        }

        // Hiển thị tổng số trạng thái trong phần tử 'totalCount'
        document.getElementById("totalCount").textContent = totalCount;

        // Hiển thị số lượng cho từng trạng thái
        document.getElementById("CHO_XAC_NHAN").textContent = countByTrangThai["0"] || 0;
        document.getElementById("DANG_XU_LY").textContent = countByTrangThai["1"] || 0;
        document.getElementById("DANG_GIAO_HANG").textContent = countByTrangThai["2"] || 0;
        document.getElementById("HOAN_TAT").textContent = countByTrangThai["3"] || 0;
    } else {
        console.log("Dữ liệu JSON không hợp lệ hoặc không có dữ liệu");
    }

</script>
</body>
</html>