
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết khuyến mại</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
  <link rel="stylesheet" href="/css/StyleHomePage.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden; /* Ẩn thanh cuộn của body */
    }

    .main {
      height: 100%;
      display: flex;
    }

    .col-10 {
      height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
      overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao */
      padding: 12px 32px 48px;
      background-color: #f6f6f6;
    }
  </style>
</head>
<body class="overflow-hidden">
<div class="main">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-2" style="height: 100vh;">
        <div style="height: 72px; margin-bottom: 42px;"
             class="d-flex align-items-center justify-content-center">
          <div>
            <img style="width: 78%" src="/uploadImage/logo.png" alt="logo">
          </div>
          <div style="font-size: 20px; font-weight: 800; margin-left: 12px;">
            Krist
          </div>
        </div>
        <!-- Main Menu Items -->
        <div style="padding: 0px 22px 28px; border-bottom: 1px solid #E9E9EB;" class="mb-4">
          <a href="./adminDashBroad.html" class=" mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-objects-column" style="margin-right: 10px;"></i>Doanh thu
          </a>
          <!-- Product Management Tree Menu -->
          <div class="menu-item mb-3">
            <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
               onclick="toggleSubmenu('productSubMenu')">
              <i class="fa-regular fa-box-archive" style="margin-right: 10px;"></i> Sản phẩm
              <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
            </p>
            <ul id="productSubMenu" class="submenu"
                style="list-style: none; padding-left: 20px; display: none;">
              <li style="padding: 8px 12px;">
                <a href="./adminCategories.html" style="text-decoration: none; color: #000;">Danh
                  mục</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="./adminMaterial.html" style="text-decoration: none; color: #000;">Chất liệu</a>
              </li>
            </ul>
          </div>
          <a href="./adminOrder.html" class="mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-cart-shopping" style="margin-right: 10px;"></i> Đơn hàng
          </a>
          <a href="./adminCustomer.html" class="mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-user-group" style="margin-right: 10px;"></i> Khách hàng
          </a>

          <a href="./adminSetting.html" class="mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Settings
          </a>
        </div>


      </div>
      <div class="col-10">
        <!-- navigator_link -->
        <div class="d-flex justify-content-between align-items-center"
             style="height: 72px; margin-bottom: 18px;">
          <div>
            <nav style="--bs-breadcrumb-divider: '>'; line-height: 40px;" aria-label="breadcrumb">
              <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                <li class="breadcrumb-item "><a href="/quan-ly/pagination-khuyen-mai" class="nav_link">Khuyến mại</a></li>
                <li class="breadcrumb-item "><a href="#" class="nav_link_active">Chi tiết khuyến mại</a></li>
              </ol>
            </nav>
          </div>
          <div>
            <a href="../login.html" style="text-decoration: none; color: #000; font-size: 20px;"><i
                    class="fa-thin fa-arrow-right-from-bracket"></i></a>
          </div>
        </div>
        <div style="background-color: #fff; border-radius: 6px; padding: 24px 40px; border: 1px solid #f6f7f8;">
          <!-- headre_content -->
          <div class="mb-4">
            <div class="w-100">
              <h4>Chi tiết khuyến mại</h4>

            </div>
            <!-- Hiển thị thông báo nếu có -->
            <div th:if="${message}" class="alert" th:class="${messageType}">
              <strong th:text="${titleMsg}">Thông báo</strong>: <span th:text="${message}"></span>
            </div>

            <!-- Form cập nhật khuyến mãi -->
            <div class="w-100">
              <div class="modal-body" style="padding:30px">
                <div>
                  <form th:action="@{/quan-ly/update-khuyen-mai/{id}(id=${khuyenMaiCre.id})}" th:object="${khuyenMaiCre}" method="post" class="needs-validation">
                    <div class="row">
                      <!-- Cột bên trái -->
                      <div class="col-md-6">
                        <div class="display_none">
                          <input type="text" class="form-control" id="idKhuyenMai" name="idKhuyenMai" th:field="*{id}">
                        </div>
                        <div class="mb-4">
                          <label for="maKhuyenMai" class="form-label">Mã khuyến mại</label>
                          <input type="text" class="form-control" id="maKhuyenMai" placeholder="Nhập mã khuyến mại"
                                 th:field="*{maKhuyenMai}" readonly >
                          <div class="invalid-feedback">Mã khuyến mại không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="tenKhuyenMai" class="form-label">Tên khuyến mại</label>
                          <input type="text" class="form-control" id="tenKhuyenMai" placeholder="Nhập tên khuyến mại"
                                 th:field="*{tenKhuyenMai}" readonly >
                          <div class="invalid-feedback">Tên khuyến mại không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="kieuKhuyenMai" class="form-label">Kiểu khuyến mại</label>
                          <input type="text" class="form-control" id="kieuKhuyenMai" placeholder="Nhập kiểu khuyến mại"
                                 th:field="*{kieuKhuyenMai}" readonly
                                 th:value="${khuyenMaiCre.kieuKhuyenMai == true ? 'Giảm theo VND' : 'Giảm theo %'}">
                          <div class="invalid-feedback">Mã khuyến mại không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="maKhuyenMai" class="form-label">Trạng thái</label>
                          <input type="text" class="form-control" id="trangThai" placeholder="Nhập mã khuyến mại"
                                 th:field="*{trangThai}" readonly >
                          <div class="invalid-feedback">Mã khuyến mại không hợp lệ.</div>
                        </div>
                      </div>


                      <!-- Cột bên phải -->
                      <div class="col-md-6">
                        <div class="mb-4">
                          <label for="mucGiam" class="form-label">Mức giảm tối đa</label>
                          <input type="text" class="form-control" id="mucGiam" placeholder="Nhập mức giảm tối đa"
                                 th:field="*{mucGiamToiDa}" readonly >
                          <div class="invalid-feedback">Mức giảm không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="giaTri" class="form-label">Giá trị</label>
                          <input type="text" class="form-control" id="giaTri" placeholder="Nhập giá trị"
                                 th:field="*{giaTri}" readonly >
                          <div class="invalid-feedback">Giá trị không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="ngayBD" class="form-label">Ngày bắt đầu</label>
                          <input type="text" class="form-control" id="ngayBD"
                                 th:field="*{ngayBatDau}" readonly >
                          <div class="invalid-feedback">Ngày bắt đầu không hợp lệ.</div>
                        </div>
                        <div class="mb-4">
                          <label for="ngayKT" class="form-label">Ngày kết thúc</label>
                          <input type="text" class="form-control" id="ngayKT"
                                 th:field="*{ngayKetThuc}" readonly >
                          <div class="invalid-feedback">Ngày kết thúc không hợp lệ.</div>
                        </div>
                      </div>
                      <div class="d-flex justify-content-end mt-3">
                        <a th:href="@{/quan-ly/pagination-khuyen-mai}"
                           class="btn btn-dark me-2">Trở về</a>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- Nút hành động dưới cùng form -->

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>




<!-- Alert thông báo thất bại -->
<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert"
     id="alertMessage" style="display: none;">
  <strong>Thất bại!</strong> <span id="alertBody">Thông báo này sẽ hiển thị kết quả.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Alert thông báo từ backend -->
<div th:if="${message}" th:class="${messageType} + ' alert alert-dismissible fade show position-fixed top-0 end-0 m-3'"
     id="successAlert" role="alert">
  <strong th:text="${titleMsg}">Tiêu đề</strong> <span th:text="${message}">Thông báo này sẽ hiển thị kết quả.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>

  const idKhuyenMai = document.getElementById("idKhuyenMai");
  const maKhuyenMai = document.getElementById('maKhuyenMai');
  const tenKhuyenMai = document.getElementById('tenKhuyenMai');
  const kieuKhuyenMai = document.getElementById('kieuKhuyenMai');
  const mucGiam = document.getElementById('mucGiam');
  const giaTri = document.getElementById('giaTri');
  const statusSection = document.getElementById('statusSection');

  function saveIdOrder(id, index, hanhDong) {
    idKhuyenMai.value = id;
    if (index != null) {
      maKhuyenMai.value = valueName[index].textContent.trim();  // Cập nhật mã khuyến mại
      tenKhuyenMai.value = valueDes[index].textContent.trim();  // Cập nhật tên khuyến mại
      statusSection.classList.remove('display_none');
      document.getElementById('exampleModalLabel').innerText = 'Cập nhật khuyến mại';
      // Kiểm tra trạng thái và chọn radio button tương ứng
      if (hanhDong == "Dang hoat dong") {
        document.getElementById('active').checked = true;
      } else if (hanhDong == "Ngung hoat dong") {
        document.getElementById('inactive').checked = true;
      } else if (hanhDong == "Het han") {
        document.getElementById('hethan').checked = true;
      }
      document.getElementById("form_submit").action = '/quan-ly/update-khuyen-mai';
    } else {
      statusSection.classList.add('display_none');
      document.getElementById('exampleModalLabel').innerText = 'Thêm mới khuyến mại';
      maKhuyenMai.value = "";
      tenKhuyenMai.value = "";
      document.getElementById("form_submit").action = '/quan-ly/add-khuyen-mai';
    }
  }


  (function () {
    'use strict';
    // Fetch all forms with class 'needs-validation'
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over forms and prevent submission if validation fails
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          showAlert("error", "Đã có lỗi xảy ra. Vui lòng kiểm tra lại.");
        }
        form.classList.add('was-validated');
      }, false);

      // Add 'change' event listener for all inputs to validate them dynamically
      var inputs = form.querySelectorAll('input');
      Array.prototype.slice.call(inputs).forEach(function (input) {
        input.addEventListener('change', function () {
          if (input.checkValidity()) {
            input.classList.remove('is-invalid');
            input.classList.add('is-valid');
          } else {
            input.classList.remove('is-valid');
            input.classList.add('is-invalid');
            showAlert("error", "Dữ liệu không hợp lệ trong " + input.placeholder);
          }
        });
      });
    });

    //thông báo
    function showAlert(type, message) {
      let alertElement;

      if (type === 'success') {
        alertElement = document.getElementById('successAlert');
        alertElement.querySelector('span').textContent = message; // Thiết lập nội dung thông báo thành công
        alertElement.style.display = 'block'; // Hiển thị thông báo thành công
      } else if (type === 'error') {
        alertElement = document.getElementById('alertMessage');
        alertElement.querySelector('#alertBody').textContent = message; // Thiết lập nội dung thông báo lỗi
        alertElement.style.display = 'block'; // Hiển thị thông báo lỗi
      }

      // Tự động ẩn thông báo sau 5 giây
      setTimeout(() => {
        if (alertElement) {
          var bootstrapAlert = new bootstrap.Alert(alertElement);
          bootstrapAlert.close();
        }
      }, 5000);
    }

    document.addEventListener('DOMContentLoaded', function () {
      // Kiểm tra và ẩn thông báo thành công nếu có
      var successAlert = document.getElementById('successAlert');
      if (successAlert && successAlert.style.display !== 'none') {
        setTimeout(function () {
          var bootstrapAlert = new bootstrap.Alert(successAlert);
          bootstrapAlert.close();
        }, 5000);
      }
    });

  })();
</script>
</body>
</html>
