<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Khuyến mại</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
  <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
  <link rel="stylesheet" href="/css/StyleHomePage.css">
  <style>
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden; /* Ẩn thanh cuộn của body */
    }

    .main {
      height: 100%;
      display: flex;
    }

    .col-10 {
      height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
      overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao */
      padding: 12px 32px 48px;
      background-color: #f6f6f6;
    }
  </style>
</head>
<body class="overflow-hidden">
<div class="main">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <div class="col-2" style="height: 100vh;">
        <div style="height: 72px; margin-bottom: 42px;"
             class="d-flex align-items-center justify-content-center">
          <div>
            <img style="width: 78%" src="/uploadImage/logo.png" alt="logo">
          </div>
          <div style="font-size: 20px; font-weight: 800; margin-left: 12px;">
            Krist
          </div>
        </div>
        <!-- Main Menu Items -->
        <div style="padding: 0px 22px 28px; border-bottom: 1px solid #E9E9EB;" class="mb-4">
          <!--                    Hiện tại vẫn chưa có tính năng doanh thu đường dẫn là #-->
          <a href="/quan-ly/thong-ke" class=" mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;"
             onclick="highlightLink(this)">
            <i class="fa-light fa-objects-column" style="margin-right: 10px;"></i>Doanh thu
          </a>
          <a href="/quan-ly/ban-hang" class="mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
            <i class="fa-light fa-cart-shopping" style="margin-right: 10px;"></i> Bán hàng
          </a>
          <a href="/quan-ly/pagination-san-pham" class=" mb-3"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
            <i class="fa-regular fa-shirt" style="margin-right: 10px;"></i> Sản phẩm
          </a>
          <!-- Product Management Tree Menu -->
          <div class="menu-item mb-3">
            <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
               onclick="toggleSubmenu('productSubMenu')">
              <i class="fa-regular fa-box-archive" style="margin-right: 10px;"></i> Thuộc tính
              <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
            </p>
            <ul id="productSubMenu" class="submenu"
                style="list-style: none; padding-left: 20px; display: none;">
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-danh-muc"
                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Danh
                  mục</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-chat-lieu"
                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chất liệu</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-mau-sac"
                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Màu sắc</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-size"
                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Size</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-tay-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Tay
                  áo</a>
              </li>
              <li style="padding: 8px 12px;">
                <a href="/quan-ly/pagination-co-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Cổ
                  áo</a>
              </li>
            </ul>
          </div>
          <!--                    Chức năng chưa có đường dẫn là #-->
          <a href="/quan-ly/view-don-hang" class="mb-3" onclick="highlightLink(this)"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-cart-flatbed" style="margin-right: 10px;"></i> Đơn hàng
          </a>
          <a href="/quan-ly/pagination-khuyen-mai" class="bg_profile_btn mb-3" onclick="highlightLink(this)"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-tickets-perforated" style="margin-right: 10px;"></i> Khuyến mại
          </a>
          <!--                    Chức năng chưa có đường dẫn là #-->
          <a href="/quan-ly/pagination-khach-hang" class="mb-3" onclick="highlightLink(this)"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-user-group" style="margin-right: 10px;"></i> Khách hàng
          </a>
          <a href="/quan-ly/phan-trang-nhan-vien" class="mb-3" onclick="highlightLink(this)"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-user" style="margin-right: 10px;"></i> Nhân viên
          </a>
          <!--                    Chức năng chưa có đường dẫn là #-->


          <!--                    Chức năng chưa có đường dẫn là #-->
          <a href="/quan-ly/setting" class="mb-3" onclick="highlightLink(this)"
             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
            <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Cài đặt
          </a>
        </div>

        <!-- Extra Menu -->
<!--        <div id="drop_right" style="padding: 0px 22px 28px; cursor: pointer;"-->
<!--             onclick="toggleSubmenu('extrasSubMenu')">-->
<!--          <p class="mb-3"-->
<!--             style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center;">-->
<!--            <i class="fa-regular fa-plus" style="margin-right: 10px;"></i> Extras-->
<!--            <i class="fa fa-chevron-down" style="margin-left:auto;"></i>-->
<!--          </p>-->
<!--          <ul id="extrasSubMenu" class="submenu" style="list-style: none; padding-left: 20px; display: none;">-->
<!--            <li style="padding: 8px;"><a href="./adminSize.html"-->
<!--                                         style="text-decoration: none; color: #000;">Size</a></li>-->
<!--            <li style="padding: 8px;"><a href="./adminColor.html"-->
<!--                                         style="text-decoration: none; color: #000;">Color</a></li>-->
<!--          </ul>-->
<!--        </div>-->
      </div>
      <div class="col-10">
        <!-- navigator_link -->
        <div class="d-flex justify-content-between align-items-center"
             style="height: 72px; margin-bottom: 18px;">
          <div>
            <nav style="--bs-breadcrumb-divider: '>'; line-height: 40px;" aria-label="breadcrumb">
              <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                <li class="breadcrumb-item "><a href="/quan-ly/pagination-khuyen-mai" class="nav_link_active">Khuyến Mại</a></li>
              </ol>
            </nav>
          </div>
          <div>
            <a href="/logout" style="text-decoration: none; color: #000; font-size: 20px;"><i
                    class="fa-thin fa-arrow-right-from-bracket"></i></a>
          </div>
        </div>
        <div style="background-color: #fff; border-radius: 6px; padding: 24px 40px; border: 1px solid #f6f7f8;">
          <!-- headre_content -->
          <div class="mb-4">
            <div class="w-100">
              <h4>Khuyến Mại</h4>
            </div>
            <div class="w-100">
              <form action="/quan-ly/tim-kiem" method="GET"> <!-- Thay thế /duong-dan-xu-ly bằng URL xử lý -->
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="theoMa" style="font-weight: bold">Tìm theo mã</label>
                      <input type="text" id="theoMa" name="maKhuyenMai" class="form-control" placeholder="Nhập giá trị">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="theoTen" style="font-weight: bold">Tìm theo tên</label>
                      <input type="text" id="theoTen" name="tenKhuyenMai" class="form-control" placeholder="Nhập giá trị">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label style="font-weight: bold">Trạng thái</label>
                      <select class="form-select" name="trangThai" aria-label="Trạng thái">
                        <option value="">Chọn trạng thái</option>
                        <option value="Chưa kích hoạt">Chưa kích hoạt</option>
                        <option value="Đang hoạt động">Đang hoạt động</option>
                        <option value="Hết hạn">Hết hạn</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!--                dòng số 2-->
                <div class="row mt-4">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label style="font-weight: bold">Kiểu khuyến mại</label><br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="kieuKhuyenMai" id="inlineRadio1" value="VND">
                        <label class="form-check-label" for="inlineRadio1">VND</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="kieuKhuyenMai" id="inlineRadio2" value="%">
                        <label class="form-check-label" for="inlineRadio2">%</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ngayBD" style="font-weight: bold">Ngày bắt đầu</label>
                      <input type="date" class="form-control" id="ngayBD" name="ngayBatDau"> <!-- Thêm name -->
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="ngayKT" style="font-weight: bold">Ngày kết thúc</label>
                      <input type="date" class="form-control" id="ngayKT" name="ngayKetThuc"> <!-- Thêm name -->
                    </div>
                  </div>

                </div>

                <div class="d-flex justify-content-end mt-3">
                  <button type="submit" class="btn btn-dark me-3">Tìm kiếm</button>
                  <a href="/quan-ly/pagination-add-khuyen-mai" type="button" class="btn btn-dark md-3">Thêm mới</a>
                </div>
              </form>
            </div>
          </div>


          <!-- table -->
          <div style="margin-bottom: 28px;">
            <table class="table" style="border-top: 1px solid #E9E9EB;">
              <thead>
              <tr>
                <th scope="col" style="white-space: nowrap;">STT</th>
                <th scope="col" style="white-space: nowrap;">Mã khuyến mãi</th>
                <th scope="col" style="white-space: nowrap;">Tên khuyến mãi</th>
                <th scope="col" style="white-space: nowrap;">Kiểu khuyến mãi</th>
                <th scope="col" style="white-space: nowrap;">Giá trị</th>
                <th scope="col" style="white-space: nowrap;">Mức giảm tối đa</th>
                <th scope="col" style="white-space: nowrap;">Trạng thái</th>
                <th scope="col" style="white-space: nowrap;">Ngày bắt đầu</th>
                <th scope="col" style="white-space: nowrap;">Ngày kết thúc</th>

                <th scope="col" class="text-center">Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="khuyenMai , stat : ${khuyenMaiList}">
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${stat.index + 1}"></td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${khuyenMai.maKhuyenMai}"
                    th:class="valueName">
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${khuyenMai.tenKhuyenMai}"
                    th:class="valueDes">
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:switch="${khuyenMai.kieuKhuyenMai}">
                  <span th:case="true">Giảm theo %</span>
                  <span th:case="false">Giảm theo VNĐ</span>
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${DataUtils.formatCurrency(khuyenMai.giaTri)}">
                    th:class="valueDes">
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${DataUtils.formatCurrency(khuyenMai.mucGiamToiDa)}">
                    th:class="valueDes">
                </td>

                <td class="text-center" style="padding: 12px 6px; line-height: 305%;">
                  <i class="fa-regular"
                     th:classappend="${khuyenMai.trangThai == 'Chưa kích hoạt' ? 'fa-hourglass-end' : (khuyenMai.trangThai == 'Đang hoạt động' ? 'fa-check' : (khuyenMai.trangThai == 'Hết hạn' ? 'fa-x' : ''))}"></i>
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${#dates.format(khuyenMai.ngayBatDau, 'dd/MM/yyyy')}"
                    th:class="valueDes">
                </td>
                <td style="padding: 12px 6px; line-height: 305%;" th:text="${#dates.format(khuyenMai.ngayKetThuc, 'dd/MM/yyyy')}"
                    th:class="valueDes">
                </td>


                </td>
                <td style="padding: 12px 0px 12px 24px; line-height: 305%; cursor: pointer;">
                  <div class="d-flex justify-content-center">
                    <!-- Nút Update -->
                    <div class="d-inline-block me-3 "  title="Cập nhật">
                      <a th:href="@{/quan-ly/pagination-update-khuyen-mai/{id}(id=${khuyenMai.id})}"><i class="fa-solid fa-pen-to-square" style="color: black;"></i></a>
                    </div>
                    <!-- Nút Delete -->
                    <div class="d-inline-block me-3 "  title="Xóa">
                      <a  th:href="@{/quan-ly/delete-khuyen-mai/{id}(id=${khuyenMai.id})}"><i class="fa-sharp-duotone fa-regular fa-swap-arrows" style="color: black;"></i></a>
                    </div>
                    <!--                    &lt;!&ndash; Nút Detail &ndash;&gt;-->
<!--                    <div class="d-inline-block me-3 "  title="Xem chi tiết">-->
<!--                      <a th:href="@{/quan-ly/pagination-detail-khuyen-mai/{id}(id=${khuyenMai.id})}"><i class="fa-solid fa-eye" style="color: black;"></i></a>-->
<!--                    </div>-->
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div>
            <!-- page_number -->
            <!--            <nav aria-label="Page navigation example">-->
            <!--              <ul class="pagination justify-content-end">-->
            <!--                &lt;!&ndash; Nút Previous &ndash;&gt;-->
            <!--                <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">-->
            <!--                  <a class="page-link" style="color: #5C5F6A"-->
            <!--                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=0)}"-->
            <!--                     aria-label="Previous">-->
            <!--                    <span aria-hidden="true">&laquo;</span>-->
            <!--                  </a>-->
            <!--                </li>-->
            <!--                &lt;!&ndash; Vòng lặp phân trang &ndash;&gt;-->
            <!--                <li th:if="${totalPage > 0}" th:each="i : ${#numbers.sequence(1, totalPage)}"-->
            <!--                    th:classappend="${currentPage == i - 1 ? 'active' : ''}"-->
            <!--                    class="page-item">-->
            <!--                  <a class="page-link"-->
            <!--                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=${i - 1})}"-->
            <!--                     th:text="${i}" style="color: #5C5F6A"></a>-->
            <!--                </li>-->
            <!--                &lt;!&ndash; Nút Next &ndash;&gt;-->
            <!--                <li class="page-item"-->
            <!--                    th:classappend="${currentPage == totalPage - 1 ? 'disabled' : ''}">-->
            <!--                  <a class="page-link" style="color: #5C5F6A"-->
            <!--                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=${totalPage - 1})}"-->
            <!--                     aria-label="Next">-->
            <!--                    <span aria-hidden="true">&raquo;</span>-->
            <!--                  </a>-->
            <!--                </li>-->
            <!--              </ul>-->
            <!--            </nav>-->
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <!-- Nút Previous -->
                <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}"
                    style="border-color: #A0A0A0;">
                  <a class="page-link"
                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=0)}"
                     aria-label="Previous"
                     style="color: #5C5F6A; background-color: transparent; border-color: #5C5F6A;">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>

                <!-- Vòng lặp phân trang -->
                <li th:if="${totalPage > 0}" th:each="i : ${#numbers.sequence(1, totalPage)}"
                    th:classappend="${currentPage == i - 1 ? 'active' : ''}"
                    class="page-item"
                    style="border-color: #5C5F6A;">
                  <a class="page-link"
                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=${i - 1})}"
                     th:text="${i}"
                     th:styleappend="${currentPage == i - 1 ? 'color: #FFFFFF; background-color: #5C5F6A;' : 'color: #5C5F6A; background-color: transparent; border-color: #5C5F6A;'}">
                  </a>
                </li>

                <!-- Nút Next -->
                <li class="page-item"
                    th:classappend="${currentPage == totalPage - 1 ? 'disabled' : ''}"
                    style="border-color: #A0A0A0;">
                  <a class="page-link"
                     th:href="@{/quan-ly/pagination-khuyen-mai(pageNo=${totalPage - 1})}"
                     aria-label="Next"
                     style="color: #5C5F6A; background-color: transparent; border-color: #5C5F6A;">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Alert thông báo thất bại -->
<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert"
     id="alertMessage" style="display: none;">
  <strong>Thất bại!</strong> <span id="alertBody">Thông báo này sẽ hiển thị kết quả.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Alert thông báo từ backend -->
<div th:if="${message}" th:class="${messageType} + ' alert alert-dismissible fade show position-fixed top-0 end-0 m-3'"
     id="successAlert" role="alert">
  <strong th:text="${titleMsg}">Tiêu đề</strong> <span th:text="${message}">Thông báo này sẽ hiển thị kết quả.</span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>

  const idKhuyenMai = document.getElementById("idKhuyenMai");
  const maKhuyenMai = document.getElementById('maKhuyenMai');
  const tenKhuyenMai = document.getElementById('tenKhuyenMai');
  const kieuKhuyenMai = document.getElementById('kieuKhuyenMai');
  const mucGiam = document.getElementById('mucGiam');
  const giaTri = document.getElementById('giaTri');
  const statusSection = document.getElementById('statusSection');

  function saveIdOrder(id, index, hanhDong) {
    idKhuyenMai.value = id;
    if (index != null) {
      maKhuyenMai.value = valueName[index].textContent.trim();  // Cập nhật mã khuyến mại
      tenKhuyenMai.value = valueDes[index].textContent.trim();  // Cập nhật tên khuyến mại
      statusSection.classList.remove('display_none');
      document.getElementById('exampleModalLabel').innerText = 'Cập nhật khuyến mại';
      // Kiểm tra trạng thái và chọn radio button tương ứng
      if (hanhDong == "Dang hoat dong") {
        document.getElementById('active').checked = true;
      } else if (hanhDong == "Ngung hoat dong") {
        document.getElementById('inactive').checked = true;
      } else if (hanhDong == "Het han") {
        document.getElementById('hethan').checked = true;
      }
      document.getElementById("form_submit").action = '/quan-ly/update-khuyen-mai';
    } else {
      statusSection.classList.add('display_none');
      document.getElementById('exampleModalLabel').innerText = 'Thêm mới khuyến mại';
      maKhuyenMai.value = "";
      tenKhuyenMai.value = "";
      document.getElementById("form_submit").action = '/quan-ly/add-khuyen-mai';
    }
  }

  (function () {
    'use strict';
    // Fetch all forms with class 'needs-validation'
    var forms = document.querySelectorAll('.needs-validation');

    // Loop over forms and prevent submission if validation fails
    Array.prototype.slice.call(forms).forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
          showAlert("error", "Đã có lỗi xảy ra. Vui lòng kiểm tra lại.");
        }
        form.classList.add('was-validated');
      }, false);

      // Add 'change' event listener for all inputs to validate them dynamically
      var inputs = form.querySelectorAll('input');
      Array.prototype.slice.call(inputs).forEach(function (input) {
        input.addEventListener('change', function () {
          if (input.checkValidity()) {
            input.classList.remove('is-invalid');
            input.classList.add('is-valid');
          } else {
            input.classList.remove('is-valid');
            input.classList.add('is-invalid');
            showAlert("error", "Dữ liệu không hợp lệ trong " + input.placeholder);
          }
        });
      });
    });

    //thông báo
    function showAlert(type, message) {
      let alertElement;

      if (type === 'success') {
        alertElement = document.getElementById('successAlert');
        alertElement.querySelector('span').textContent = message; // Thiết lập nội dung thông báo thành công
        alertElement.style.display = 'block'; // Hiển thị thông báo thành công
      } else if (type === 'error') {
        alertElement = document.getElementById('alertMessage');
        alertElement.querySelector('#alertBody').textContent = message; // Thiết lập nội dung thông báo lỗi
        alertElement.style.display = 'block'; // Hiển thị thông báo lỗi
      }

      // Tự động ẩn thông báo sau 5 giây
      setTimeout(() => {
        if (alertElement) {
          var bootstrapAlert = new bootstrap.Alert(alertElement);
          bootstrapAlert.close();
        }
      }, 5000);
    }

    document.addEventListener('DOMContentLoaded', function () {
      // Kiểm tra và ẩn thông báo thành công nếu có
      var successAlert = document.getElementById('successAlert');
      if (successAlert && successAlert.style.display !== 'none') {
        setTimeout(function () {
          var bootstrapAlert = new bootstrap.Alert(successAlert);
          bootstrapAlert.close();
        }, 5000);
      }
    });


  })();

  function toggleSubmenu(id) {
    const submenu = document.getElementById(id);
    // Toggle between 'none' and 'block' to show/hide submenu
    submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
  }

  function highlightLink(link){
    //     Remove the 'bg_profile_btn' class from all links
    const links = document.querySelectorAll('.bg_profile_btn');
    links.forEach(link => {
      link.classList.remove('bg_profile_btn');
    })
    link.classList.add('bg_profile_btn');
  }
</script>
</body>
</html>
