<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/StyleHomePage.css">
    <link rel="stylesheet" href="/css/thongke.css">
    <!--    <script src="/js/thongke.js"></script>-->
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Ẩn thanh cuộn của body */
        }
        .main {
            height: 100%;
            display: flex;
        }
        .col-10 {
            height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
            overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao */
            padding: 12px 32px 48px;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body class="overflow-hidden">
<div class="main">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <!--            sider bar-->
            <div class="col-2" style="height: 100vh;">
                <div style="height: 72px; margin-bottom: 42px;"
                     class="d-flex align-items-center justify-content-center">
                    <div>
                        <img style="width: 78%" src="/uploadImage/logo.png" alt="logo">
                    </div>
                    <div style="font-size: 20px; font-weight: 800; margin-left: 12px;">
                        Krist
                    </div>
                </div>
                <!-- Main Menu Items -->
                <div style="padding: 0px 22px 28px; border-bottom: 1px solid #E9E9EB;" class="mb-4">
                    <!--                    Hiện tại vẫn chưa có tính năng doanh thu đường dẫn là #-->
                    <a href="/quan-ly/thong-ke" class="bg_profile_btn mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;"
                       onclick="highlightLink(this)">
                        <i class="fa-light fa-objects-column" style="margin-right: 10px;"></i>Doanh thu
                    </a>
                    <a href="/quan-ly/ban-hang" class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
                        <i class="fa-light fa-cart-shopping" style="margin-right: 10px;"></i> Bán hàng
                    </a>
                    <a href="/quan-ly/pagination-san-pham" class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
                        <i class="fa-regular fa-shirt" style="margin-right: 10px;"></i> Sản phẩm
                    </a>
                    <!-- Product Management Tree Menu -->
                    <div class="menu-item mb-3">
                        <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
                           onclick="toggleSubmenu('productSubMenu')">
                            <i class="fa-regular fa-box-archive" style="margin-right: 10px;"></i> Thuộc tính
                            <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                        </p>
                        <ul id="productSubMenu" class="submenu"
                            style="list-style: none; padding-left: 20px; display: none;">
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-danh-muc"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Danh
                                    mục</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-chat-lieu"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chất liệu</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-mau-sac"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Màu sắc</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-size"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Size</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-tay-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Tay
                                    áo</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly/pagination-co-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Cổ
                                    áo</a>
                            </li>
                        </ul>
                    </div>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="/quan-ly/view-don-hang" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-cart-flatbed" style="margin-right: 10px;"></i> Đơn hàng
                    </a>
                    <a href="/quan-ly/pagination-khuyen-mai" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-tickets-perforated" style="margin-right: 10px;"></i> Khuyến mại
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-user-group" style="margin-right: 10px;"></i> Khách hàng
                    </a>
                    <a href="/quan-ly/phan-trang-nhan-vien" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-user" style="margin-right: 10px;"></i> Nhân viên
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->


                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="/quan-ly/setting" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Cài đặt
                    </a>
                </div>
                <!-- Extra Menu -->

            </div>
            <!--            end sider bar-->
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center"
                     style="height: 72px; margin-bottom: 18px;">
                    <div>
                        <nav style="--bs-breadcrumb-divider: '>'; line-height: 40px;" aria-label="breadcrumb">
                            <ol class="breadcrumb" style="height: 40px; margin: 0px;">
                                <li class="breadcrumb-item "><a href="#" class="nav_link">Admin</a></li>
                                <li class="breadcrumb-item "><a href="#" class="nav_link_active">Thống kê</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div>
                        <a href="/logout" style="text-decoration: none; color: #000; font-size: 20px;"><i
                                class="fa-thin fa-arrow-right-from-bracket"></i></a>
                    </div>
                </div>
                <div class="container">
                <div class="container row">
                    <div class="card col-4">
                        <i class="fas fa-shopping-cart"> </i>
                        <p>Doanh thu hôm nay</p>
                        <h2 th:text="${dataUtils.formatCurrency(doanhThuNgay)}"></h2>
                    </div>
                    <div class="card col-4">
                        <i class="fas fa-comments"> </i>
                        <p>Sản phẩm bán đã trong tháng</p>
                        <h2 th:text="${spBanTrongThang}"></h2>
                    </div>
                    <div class="card col-4">
                        <i class="fas fa-money-bill-wave"> </i>
                        <p>Doanh thu trong năm nay</p>
                        <h2 th:text="${dataUtils.formatCurrency(doanhThuNam)}"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-9">
                        <div class="content">
                            <div class="status-container">
                                <div class="status-title">Doanh thu theo từng tháng :</div>
                                <select class="form-select" style="width: 100px" id="month" name="month" th:field="*{years}" onchange="fetchChartData(this.value)">
                                    <option th:each="month : ${years}"
                                            th:value="${month}"
                                            th:text="${month}">
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="charts1">
                            <div class="chart1">
                                <h3>Thống kê doanh thu</h3>
                                <div>
                                    <canvas id="myChart" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="charts ">
                            <div class="chart col-6">
                                <h3>5 Đơn hàng gần nhất</h3>
                                <!-- Bảng Bootstrap -->
                                <div class="table-responsive mt-4">
                                    <table class="table table-bordered table-hover">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>Mã</th>
                                            <th>Trạng thái thanh toán</th>
                                            <th>Tổng tiền</th>
                                            <th>Ngày đặt</th>
                                            <th>Xem đơn hàng</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:if="${hoaDons != null}" th:each="hd : ${hoaDons}">
                                            <td th:text="${hd.getId()}"></td>
                                            <td th:text="${dataUtils.formatStatus(hd.trangThaiThanhToan)}"></td>
                                            <td th:text="${dataUtils.calculatorTotal(hd.tongTien, hd.khuyenMai, hd.phiVanChuyen)}"></td>
                                            <td th:text="${#dates.format(hd.getNgayTao(), 'dd/MM/yyyy')}"></td>
                                            <td class="text-center">
                                                <div class="d-inline-block me-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết">
                                                    <a  class="d-block" style="color: #000; text-decoration: none" href="/quan-ly/view-don-hang">
                                                        <i class="fa-sharp fa-light fa-eye"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr th:if="${hoaDons == null}" class="text-center">
                                            <td colspan="5">Không có bản ghi nào</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="chart col-6">
                                <h3>Trạng thái đơn hàng trong tháng</h3>
                                <div style="width: 500px">
                                    <canvas id="myChart1" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        async function fetchChartData(c) {
            if(Object.prototype.toString.call(c) === '[object Event]'){
                return ;
            }
            try {
                // Gọi API để lấy dữ liệu biểu đồ
                const response = await fetch('/quan-ly/api/chart-data'+'?a='+c);
                const data = await response.json();
                // document.getElementById("totalorder").innerText = data.totalorder;
                // document.getElementById("comments").innerText = data.comments;
                // document.getElementById("totalrevenue").innerText = data.totalrevenue;
                // Lưu các dữ liệu vào các biến
                const labelsArray = data.labels;
                const dataArray = data.dataValues;
                const backgroundColorsArray = data.backgroundColors;
                const borderColorsArray = data.borderColors;
                const labelsArrayTron = data.labelsTron;
                const dataArrayTron = data.dataValuesTron;
                const backgroundColorsArrayTron = data.backgroundColorsTron;
                // Gọi hàm initializeChart để khởi tạo biểu đồ với dữ liệu từ API

                initializeChart(labelsArray, dataArray, backgroundColorsArray, borderColorsArray);
                initializeChart1(labelsArrayTron , dataArrayTron , backgroundColorsArrayTron);
            } catch (error) {
                console.error("Lỗi khi gọi API:", error);
            }
        }
        let myChart = null ;
        let myChart1 = null ;
        function initializeChart(labelsArray, dataArray, backgroundColorsArray, borderColorsArray) {

            const data = {
                labels: labelsArray,
                datasets: [{
                    label: 'Biểu đồ doanh số',
                    data: dataArray,
                    backgroundColor: backgroundColorsArray,
                    borderColor: borderColorsArray,
                    borderWidth: 1
                }]
            };
            const config = {
                type: 'bar',
                data: data,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            };
            if (myChart) {
                myChart.destroy();
            }
            // Render biểu đồ
            myChart = new Chart(
                document.getElementById('myChart'),
                config
            );
        }

        function initializeChart1(labelsArray, dataArray, backgroundColorsArray) {
            const data = {
                labels: labelsArray,
                datasets: [{
                    label: 'Số lượng',
                    data: dataArray,
                    backgroundColor:
                    backgroundColorsArray,
                    hoverOffset: 4
                }]
            };

            const config = {
                type: 'pie', // Specify the chart type here, like 'bar', 'line', etc.
                data: data,
                options: {}
            };
            if (myChart1) {
                myChart1.destroy();
            }
            // Render biểu đồ

            myChart1 = new Chart(
                document.getElementById('myChart1'),
                config
            );
        }
        // Gọi hàm fetchChartData để tải và hiển thị dữ liệu khi trang load
        window.onload = fetchChartData;


        function highlightLink(link){
            //     Remove the 'bg_profile_btn' class from all links
            const links = document.querySelectorAll('.bg_profile_btn');
            links.forEach(link => {
                link.classList.remove('bg_profile_btn');
            })
            link.classList.add('bg_profile_btn');
        }

        function toggleSubmenu(id) {
            const submenu = document.getElementById(id);
            // Toggle between 'none' and 'block' to show/hide submenu
            submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
        }

        document.addEventListener("DOMContentLoaded", function () {
            const c = new Date().getFullYear(); // Giá trị truyền vào
            fetchChartData(c);
        });
    </script>
</body>
</html>