<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh mục</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/sharp-light.css">
    <link rel="stylesheet" href="/css/StyleHomePage.css">
    <link rel="stylesheet" href="/css/thongke.css">
    <script src="/js/thongke.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            overflow: hidden; /* Ẩn thanh cuộn của body */
        }
        .main {
            height: 100%;
            display: flex;
        }
        .col-10 {
            height: 100vh; /* Đảm bảo chiều cao bằng chiều cao màn hình */
            overflow-y: auto; /* Cho phép cuộn nội dung khi vượt quá chiều cao */
            padding: 12px 32px 48px;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body class="overflow-hidden">
<div class="main">
    <div class="container-fluid g-0">
        <div class="row g-0">
            <!--            sider bar-->
            <div class="col-2" style="height: 100vh;">
                <div style="height: 72px; margin-bottom: 42px;"
                     class="d-flex align-items-center justify-content-center">
                    <div>
                        <img style="width: 78%" src="/img/logo.png" alt="logo">
                    </div>
                    <div style="font-size: 20px; font-weight: 800; margin-left: 12px;">
                        Krist
                    </div>
                </div>
                <!-- Main Menu Items -->
                <div style="padding: 0px 22px 28px; border-bottom: 1px solid #E9E9EB;" class="mb-4">
                    <!--                    Hiện tại vẫn chưa có tính năng doanh thu đường dẫn là #-->
                    <a href="#" class="bg_profile_btn mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;"
                       onclick="highlightLink(this)">
                        <i class="fa-light fa-objects-column" style="margin-right: 10px;"></i>Doanh thu
                    </a>
                    <a href="#" class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;" onclick="highlightLink(this)">
                        <i class="fa-light fa-cart-shopping" style="margin-right: 10px;"></i> Bán hàng
                    </a>
                    <!-- Product Management Tree Menu -->
                    <div class="menu-item mb-3">
                        <p style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center; cursor: pointer;"
                           onclick="toggleSubmenu('productSubMenu')">
                            <i class="fa-regular fa-box-archive" style="margin-right: 10px;"></i> Sản phẩm
                            <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                        </p>
                        <ul id="productSubMenu" class="submenu"
                            style="list-style: none; padding-left: 20px; display: none;">
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-danh-muc/pagination-danh-muc"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Danh
                                    mục</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-chat-lieu/pagination-chat-lieu"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Chất liệu</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-mau-sac/pagination-mau-sac"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Màu sắc</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-size/pagination-size"
                                   style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Size</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-tay-ao/pagination-tay-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Tay
                                    áo</a>
                            </li>
                            <li style="padding: 8px 12px;">
                                <a href="/quan-ly-co-ao/pagination-co-ao" style="text-decoration: none; color: #000;" onclick="highlightLink(this)">Cổ
                                    áo</a>
                            </li>
                        </ul>
                    </div>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-cart-shopping" style="margin-right: 10px;" ></i> Đơn hàng
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-user-group" style="margin-right: 10px;"></i> Khách hàng
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->

                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-star" style="margin-right: 10px;"></i> Đánh giá
                    </a>
                    <!--                    Chức năng chưa có đường dẫn là #-->
                    <a href="#" class="mb-3" onclick="highlightLink(this)"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; text-decoration: none; color: #000; display:block;">
                        <i class="fa-light fa-gear" style="margin-right: 10px;"></i> Cài đặt
                    </a>
                </div>
                <!-- Extra Menu -->
                <div id="drop_right" style="padding: 0px 22px 28px; cursor: pointer;"
                     onclick="toggleSubmenu('extrasSubMenu')">
                    <p class="mb-3"
                       style="padding: 8px 24px; font-size: 14px; font-weight: 500; border-radius: 6px; color: #000; display: flex; align-items: center;">
                        <!--                        tính năng chưa được xác định hiện tại để trống-->
                        <i class="fa-regular fa-plus" style="margin-right: 10px;"></i> Bổ sung
                        <i class="fa fa-chevron-down" style="margin-left:auto;"></i>
                    </p>
                    <ul id="extrasSubMenu" class="submenu" style="list-style: none; padding-left: 20px; display: none;">
                        <li style="padding: 8px;"><a href="./adminSize.html"
                                                     style="text-decoration: none; color: #000;">Size</a></li>
                        <li style="padding: 8px;"><a href="./adminColor.html"
                                                     style="text-decoration: none; color: #000;">Color</a></li>
                    </ul>
                </div>
            </div>
            <!--            end sider bar-->
            <div class="col-10">
                <!-- navigator_link -->
<!--                <div class="d-flex justify-content-between align-items-center"-->
<!--                     style="height: 72px; margin-bottom: 18px;">-->
<!--                    <div>-->
<!--                        <nav style="&#45;&#45;bs-breadcrumb-divider: '>'; line-height: 40px;" aria-label="breadcrumb">-->
<!--                            <ol class="breadcrumb" style="height: 40px; margin: 0px;">-->
<!--                                <li class="breadcrumb-item "><a href="#" class="nav_link">Admin</a></li>-->
<!--                                <li class="breadcrumb-item "><a href="#" class="nav_link_active">Dashboard</a></li>-->
<!--                            </ol>-->
<!--                        </nav>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <a href="../login.html" style="text-decoration: none; color: #000; font-size: 20px;"><i-->
<!--                                class="fa-thin fa-arrow-right-from-bracket"></i></a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="container">
                    <!-- <div class="card">
                  <i class="fas fa-eye">
                  </i>
                  <h2>
                   1,504
                  </h2>
                  <p>
                   Daily Views
                  </p>
                 </div> -->
                    <div class="card">
                        <i class="fas fa-shopping-cart"> </i>
                        <h2 th:text="${totalorder}"></h2>
                        <p>Total Order</p>
                    </div>
                    <div class="card">
                        <i class="fas fa-comments"> </i>
                        <h2 th:text="${comments}"></h2>
                        <p>Comments</p>
                    </div>
                    <div class="card">
                        <i class="fas fa-money-bill-wave"> </i>
                        <h2 th:text="${totalrevenue}"></h2>
                        <p>Total revenue</p>
                    </div>
                </div>
                <div class="row">
                    <div class="ml">
                        <label for="year" class="form-label">Hiển thị theo :</label>
                        <select id="year" class="form-select" onchange="fetchChartData()">
                            <option value="Theo tháng">Theo tháng</option>
                            <option value="Theo năm">Theo năm</option>
                            <!-- Thêm các năm khác nếu cần -->
                        </select>
                    </div>
                </div>

                <div class="charts">
                    <div class="chart">
                        <h3>Biểu đồ doanh thu theo ngày</h3>
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="chart">
                        <h3>Biểu đồ doanh thu theo tháng/năm</h3>
                        <canvas id="myChart1"></canvas>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>

<!-- Alert thông báo thất bại -->
<div class="alert alert-danger alert-dismissible fade show position-fixed top-0 end-0 m-3" role="alert"
     id="alertMessage" style="display: none;">
    <strong>Thất bại!</strong> <span id="alertBody">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Alert thông báo từ backend -->
<div th:if="${message}" th:class="${messageType} + ' alert alert-dismissible fade show position-fixed top-0 end-0 m-3'"
     id="successAlert" role="alert">
    <strong th:text="${titleMsg}">Tiêu đề</strong> <span th:text="${message}">Thông báo này sẽ hiển thị kết quả.</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>

    const idCustomer = document.getElementById("idCustomer");
    const valueName = document.querySelectorAll(".valueName");
    const valueDes = document.querySelectorAll(".valueDes");
    // Lấy về thuộc tính có id và điều chỉnh theo mong muốn trong hàm saveIdOrder
    const nameCate = document.getElementById('nameCate');
    const desCate = document.getElementById('desCate');
    const statusSection = document.getElementById('statusSection');

    function saveIdOrder(id, index, hanhDong) {
        idCustomer.value = id;
        if (index != null) {
            nameCate.value = valueName[index].textContent.trim();
            desCate.value = valueDes[index].textContent.trim();
            statusSection.classList.remove('display_none');
            document.getElementById('exampleModalLabel').innerText = 'Update category';
            // Kiểm tra class của icon
            if (hanhDong == "ACTIVE") {
                // Nếu class là 'fa-check', chọn radio button active
                document.getElementById('active').checked = true;
            } else {
                // Ngược lại nếu class là 'fa-x', chọn radio button inactive
                document.getElementById('inactive').checked = true;
            }
            document.getElementById("form_submit").action = '/quan-ly-danh-muc/update-danh-muc';
        } else {
            statusSection.classList.add('display_none');
            document.getElementById('exampleModalLabel').innerText = 'Add category';
            nameCate.value = "";
            desCate.value = "";
            document.getElementById("form_submit").action = '/quan-ly-danh-muc/add-danh-muc';
        }
    }

    (function () {
        'use strict';
        // Fetch all forms with class 'needs-validation'
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over forms and prevent submission if validation fails
        Array.prototype.slice.call(forms).forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    showAlert("error", "Đã có lỗi xảy ra. Vui lòng kiểm tra lại.");
                }
                form.classList.add('was-validated');
            }, false);

            // Add 'change' event listener for all inputs to validate them dynamically
            var inputs = form.querySelectorAll('input');
            Array.prototype.slice.call(inputs).forEach(function (input) {
                input.addEventListener('change', function () {
                    if (input.checkValidity()) {
                        input.classList.remove('is-invalid');
                        input.classList.add('is-valid');
                    } else {
                        input.classList.remove('is-valid');
                        input.classList.add('is-invalid');
                        showAlert("error", "Dữ liệu không hợp lệ trong " + input.placeholder);
                    }
                });
            });
        });

        //thông báo
        function showAlert(type, message) {
            let alertElement;
            if (type === 'success') {
                alertElement = document.getElementById('successAlert');
                alertElement.querySelector('span').textContent = message; // Thiết lập nội dung thông báo thành công
                alertElement.style.display = 'block'; // Hiển thị thông báo thành công
            } else if (type === 'error') {
                alertElement = document.getElementById('alertMessage');
                alertElement.querySelector('#alertBody').textContent = message; // Thiết lập nội dung thông báo lỗi
                alertElement.style.display = 'block'; // Hiển thị thông báo lỗi
            }
            // Tự động ẩn thông báo sau 5 giây
            setTimeout(() => {
                if (alertElement) {
                    var bootstrapAlert = new bootstrap.Alert(alertElement);
                    bootstrapAlert.close();
                }
            }, 5000);
        }
        document.addEventListener('DOMContentLoaded', function () {
            // Kiểm tra và ẩn thông báo thành công nếu có
            var successAlert = document.getElementById('successAlert');
            if (successAlert && successAlert.style.display !== 'none') {
                setTimeout(function () {
                    var bootstrapAlert = new bootstrap.Alert(successAlert);
                    bootstrapAlert.close();
                }, 5000);
            }
        });

    })();

    function toggleSubmenu(id) {
        const submenu = document.getElementById(id);
        // Toggle between 'none' and 'block' to show/hide submenu
        submenu.style.display = submenu.style.display === 'block' ? 'none' : 'block';
    }

    function highlightLink(link){
        //     Remove the 'bg_profile_btn' class from all links
        const links = document.querySelectorAll('.bg_profile_btn');
        links.forEach(link => {
            link.classList.remove('bg_profile_btn');
        })
        link.classList.add('bg_profile_btn');
    }
</script>
</body>
</html>