<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{../static/css/style.css}">
  <title>Document</title>
</head>
<body>
<div class="container">
  <div class="left-section">
    <div class="logo-header">
      <img th:src="@{../static/img/photo_2024-09-26_09-17-15.png}" alt="">
    </div>
    <img class="main-img" th:src="@{../static/img/img1.jpg}" alt="Fashion Image">
  </div>
  <div class="right-section">
    <div class="login-box">
      <h2>Welcome 👋</h2>
      <p>Please login here</p>
      <form action="/login" method="POST">
        <div class="input-group">
          <label for="email">Email Address</label>
          <input type="email" id="email" name="email" value="robertfox@example.com">
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" value="•••••••••">
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox" name="remember"> Remember Me</label>
          <a href="#">Forgot Password?</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>